* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    min-height: 100vh;
}

body {
    display: flex;
    flex-direction: column;
}

.header {
    padding: 15px;
    background-color: rgba(252, 150, 221, 0.685);
}

.main {
    flex-grow: 1;
    display: flex;
    background-color: rgb(255, 202, 138);
}

.footer {
    padding: 15px;
    background-color: rgb(255, 193, 118);
}

.nav {
    width: 20%;
    background-color: rgb(200, 255, 189);
}

.main-content {
    width: 60%;
    background-color:rgb(189, 218, 255);
}

.advertising {
    width: 20%;
    background-color: rgb(146, 138, 255);
}
