* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

.header {
    padding: 15px;
    background-color: rgba(252, 150, 221, 0.685);
}

.main {
    flex-grow: 1;
    background-color: rgb(255, 202, 138);
}

.footer {
    padding: 15px;
    background-color: rgb(255, 183, 95);
}

.nav,
.main-content,
.advertising {
    height: 100%;
    vertical-align: top;
    display: inline-block;
}

.nav {
    background-color: rgb(200, 255, 189);
    width: 20%;
}

.main-content {
    margin: 0 -4px;
    background-color:rgb(189, 218, 255);
    width: 60%;
}

.advertising {
    background-color: rgb(146, 138, 255);
    width: 20%;
}
